<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pixium.clinitick">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Clinitick"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.pixium.clinitick.views.MonthlyFinanceActivity" />
        <activity android:name="com.pixium.clinitick.views.RegisterActivity" />
        <activity android:name="com.pixium.clinitick.views.ConfirmCodeActivity" />
        <activity android:name="com.pixium.clinitick.views.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pixium.clinitick.views.PhoneRegisterActivity" />
        <activity android:name="com.pixium.clinitick.views.PatientDetailsActivity" />
        <activity android:name="com.pixium.clinitick.views.AddPatientActivity" />
        <activity android:name="com.pixium.clinitick.views.PatientsActivity" />
        <activity
            android:name="com.pixium.clinitick.views.AddEditFinanceActivity"
            android:parentActivityName="com.pixium.clinitick.views.ClinicActivity" />
        <activity android:name="com.pixium.clinitick.views.AddEditClinicActivity" />
        <activity
            android:name="com.pixium.clinitick.views.ClinicActivity"
            android:launchMode="singleTop" />
        <activity android:name="com.pixium.clinitick.views.ProfileActivity" />
        <activity android:name="com.pixium.clinitick.views.FinanceActivity" />
        <activity android:name="com.pixium.clinitick.views.HomeActivity"></activity>
        <activity android:name="com.pixium.clinitick.views.TasksActivity" />
        <activity android:name="com.pixium.clinitick.views.AddAppointmentActivity" />
    </application>

</manifest>