<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pixium.clinitick">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Clinitick"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".views.AddTaskActivity"></activity>
        <activity android:name=".views.EditAppointmentActivity" />
        <activity android:name=".views.MonthlyFinanceActivity" />
        <activity android:name=".views.RegisterActivity" />
        <activity android:name=".views.ConfirmCodeActivity" />
        <activity android:name=".views.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.PhoneRegisterActivity" />
        <activity android:name=".views.PatientDetailsActivity" />
        <activity android:name=".views.AddPatientActivity" />
        <activity android:name=".views.PatientsActivity" />
        <activity
            android:name=".views.AddEditFinanceActivity"
            android:parentActivityName=".views.ClinicActivity" />
        <activity android:name=".views.AddEditClinicActivity" />
        <activity
            android:name=".views.ClinicActivity"
            android:launchMode="singleTop" />
        <activity android:name=".views.ProfileActivity" />
        <activity android:name=".views.FinanceActivity" />
        <activity android:name=".views.HomeActivity" />
        <activity android:name=".views.TasksActivity" />
        <activity android:name=".views.AddAppointmentActivity" />
    </application>

</manifest>